@model PROJETO.DTO.EventoDTO
@{
    Layout = "_NovoLayout";
}
<h1>Editar Evento - Admin</h1>
<hr/>
<form class="form-horizontal" asp-controller="Evento" asp-action="Atualizar" enctype="multipart/form-data" method="POST">
    <input type="hidden" asp-for="Id">
    
    <label asp-for="Nome">Nome</label>
    <input class="form-control" type="text" asp-for="Nome">
    <span asp-validation-for="Nome"></span><p></p>

    <label asp-for="CategoriaId">Categoria</label>
    <select class="form-control" asp-for="CategoriaId" asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "NomeCategoria"))'></select>
    <span asp-validation-for="CategoriaId"></span><p></p>
    <a class="btn btn-success" asp-controller="Admin" asp-action="NovaCategoria">Adicionar categoria</a><p></p>

    <label asp-for="LocalId">Local</label>
    <select class="form-control" asp-for="LocalId" asp-items='@(new SelectList(@ViewBag.Locais, "Id", "NomeDoLocal"))'></select>
    <span asp-validation-for="LocalId"></span><p></p>
    <a class="btn btn-success" asp-controller="Admin" asp-action="NovoLocal">Adicionar Local</a><p></p>

    <label asp-for="Data">Data</label>
    <input class="form-control" type="date" asp-for="Data">
    <span asp-validation-for="Data"></span><p></p>

    <label asp-for="Preco">Preço do ingresso</label>
    <input class="form-control" type="number" asp-for="Preco" placeholder="Preco">
    <span asp-validation-for="Preco"></span><p></p>

    <label asp-for="QuantidadeIngresso">Quantidade de ingressos</label>
    <input class="form-control" type="number" asp-for="QuantidadeIngresso" placeholder="QuantidadeIngresso">
    <span asp-validation-for="QuantidadeIngresso"></span><p></p>
    
    <button class="btn btn-success">Atualizar Evento</button>
</form>