@model PROJETO.DTO.LocalDTO
@{
    Layout = "_NovoLayout";
}
<h1>Adicionar Novo Local</h1>
<form class="form-horizontal" asp-controller="Local" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="NomeDoLocal">Nome</label>
    <input class="form-control" type="text" asp-for="NomeDoLocal">
    <span asp-validation-for="NomeDoLocal"></span><p></p>
    <a class="btn btn-success" asp-controller="Admin" asp-action="ListaLocais">Voltar</a>
    <button class="btn btn-success">Salvar novo local</button>
</form>